body {
  font-family: Arial, sans-serif;
 background-color: #ffffcc;
  
}

.fb {

  height: 500px;
  width: 400px;
background-color: #66ff99;
  margin: 20px auto; 
  padding: 20px;
  border-style: groove;
 margin-top: 80px;
  border-radius:30px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 10px;
}

form button {
  margin-top: 15px;
  padding: 8px;
  width: 60%;
  
  border: none;
}
h1{
    color:blue;
}